.chart{
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.74);

}
.chartTitle{
    margin-bottom: 2rem;
}
@media screen  and (max-width:650px){
    .responsiveChart{
        width: 50%;
    }
    
}
@media screen  and (max-width:900px){
    .responsiveChart{
        width: 70%;
    }
    
}