.features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.featureItems{
    flex:1;
    margin: 0 2rem;
    padding: 2rem;
    box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.74);
}
.fuatureTitle{
    font-size: 20px;
}
.featureMoneyContainer{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.featureMoney{
    font-size: 30px;
    font-weight: bold;
}
.MoneyRate{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.featureIcon {
    font-size: 14px;
    color: green;
    margin-left: 5px;
}
.featureIcon.negative{
    color: red;
}
.featureSubTitle{
    font-size: 15px;
    color: gray;
}
@media screen and (max-width:650px) {
    .features{
        flex-direction: column;
        width: 100%;
    }
    
}
@media screen and (max-width:1150px) {
    .features{
        flex-direction: column;
        width: 100%;
    }
    
}



